
node_modules/
 
.npm

logs
*.log
npm-debug.log*
 
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
 
lib-cov
 
coverage
 
.eslintcache
 
.node_repl_history
 
*.tgz
 
.yarn-integrity
 
.env
 
.DS_Store

dist/
build/
